.Map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.Map .Header {
    text-align: center;
    margin: auto;
    color: var(--textColor2);
}

#map {
    height: 80%;
    width: 80%;
    margin: auto;
}